services:
  database:
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - PgDBdev:/var/lib/postgresql/data
      - ./Database/init.dev.sql:/docker-entrypoint-initdb.d/init.dev.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - csv-lens-app-dev-network
  mongodb:
    image: mongo:8.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_DBdev:/data/db
    networks:
      - csv-lens-app-dev-network

volumes:
  PgDBdev:
  mongo_DBdev:

networks:
  csv-lens-app-dev-network:
    driver: bridge